extends layout

block scripts
    script(src="../static/scripts/login_openid.js")

block content
    h1 #{title}
    form(action="/login", method="POST", name="login")
        {{ form.hidden_tag() }}
        p Please enter your openID:
        {{ form.openid(size=80) }}
        p {{ form.remember_me }} Remember Me
        input(type="submit", value="Sign in")